%header
  .pull-right
    = render partial: 'elements/social'
  #rubins
    .layer.layer-1
      = image_tag 'ruby.svg', class: 'rb1'
      = image_tag 'ruby.svg', class: 'rb2'
      = image_tag 'ruby.svg', class: 'rb3'
      = image_tag 'ruby.svg', class: 'rb4'
    .layer.layer-2
      = image_tag 'ruby.svg', class: 'rb1'
      = image_tag 'ruby.svg', class: 'rb2'
      = image_tag 'ruby.svg', class: 'rb3'
      = image_tag 'ruby.svg', class: 'rb4'
    .layer.layer-3
      = image_tag 'ruby.svg', class: 'rb1'
      = image_tag 'ruby.svg', class: 'rb2'
  .container
    = image_tag 'logo_krug.svg', class: 'logo center-block'
    = render partial: 'elements/navbar'
