%nav.navbar.navbar-default{ role: 'navigation' }
  %ul.nav.navbar-nav
    %li{ class: active_class(root_path) }
      = link_to 'HOME', root_path, class: 'lead'
    %li{ class: active_class(events_path) }
      = link_to 'MEETING ARCHIVE', events_path, class: 'lead'
    %li{ class: active_class(for_speakers_path) }
      = link_to 'FOR SPEAKERS', for_speakers_path, class: 'lead'
    %li{ class: active_class(for_sponsors_path) }
      = link_to 'JOB OFFERS', offers_path, class: 'lead'
    %li{ class: active_class(for_sponsors_path) }
      = link_to 'SPONSOR US', for_sponsors_path, class: 'lead'
