%section#newest_meeting
  .container
    .row.vertical-align
      .col-sm-6
        %h2.section-heading= newest_meeting_header(@newest_meeting)
        %p.lead= "#{@newest_meeting.time.strftime('%d.%m.%Y')} @ #{@newest_meeting.venue}"
        %p.lead= @newest_meeting.name
      .col-sm-6.text-center
        .button-image.center-block
          = link_to 'READ MORE', event_path(@newest_meeting), class: 'btn btn-primary'
          = link_to 'MEETUP LINK', @newest_meeting.link
