.social-list
  %ul.list-inline.center-block.text-center
    %li
      = link_to 'https://www.facebook.com/Krakow.Ruby.User.Group', target: '_blank', class: 'grow-rotate' do
        = image_tag 'ico_fb.svg', class: 'social-icon'
    %li
      = link_to 'http://www.meetup.com/Krakow-Ruby-Users-Group/', target: '_blank', class: 'grow-rotate' do
        = image_tag 'ico_mu.svg', class: 'social-icon'
    %li
      = link_to 'https://github.com/Krakow-Ruby-Users-Group/', target: '_blank' , class: 'grow-rotate' do
        = image_tag 'ico_gh.svg', class: 'social-icon'
