#homepage
  %section#rules
    .container
      .row
        .col-sm-6.col-md-4
          = link_to 'http://berlincodeofconduct.org/', class: 'grow' do
            = image_tag 'ilu_attendees.svg', class: 'img-responsive center-block'
            .caption.text-center
              %h3 Rules for attendees

        .col-sm-6.col-md-4
          = link_to for_speakers_url, class: 'grow' do
            = image_tag 'ilu_lecturers.svg', class: 'img-responsive center-block'
            .caption.text-center
              %h3 Rules for speakers

        .col-sm-6.col-md-4
          = link_to for_sponsors_url, class: 'grow' do
            = image_tag 'ilu_sponsoring.svg', class: 'img-responsive center-block'
            .caption.text-center
              %h3 Rules for sponsors

  %section#organizers.hidden
    .container
      .row
        .col-lg-12.text-left
          %h2.section-heading ORGANIZERS
      .row
        .col-sm-4
          .team-member
            =# image_tag 'http://lorempicsum.com/simpsons/200/200/1', class: 'img-responsive img-circle center-block'
            .caption.text-center
              %h3 Sebastian B
              %p.text-muted Lorem ipsum dolor

        .col-sm-4
          .team-member
            =# image_tag 'http://lorempicsum.com/simpsons/200/200/2', class: 'img-responsive img-circle center-block'
            .caption.text-center
              %h3 Maciej Mensfeld
              %p.text-muted Lorem ipsum dolor

        .col-sm-4
          .team-member
            =# image_tag 'http://lorempicsum.com/simpsons/200/200/4', class: 'img-responsive img-circle center-block'
            .caption.text-center
              %h3 Krzysztof H
              %p.text-muted Lorem ipsum dolor

  %section#sponsors
    .container
      .row
        .col-lg-12.text-left
          %h2.section-heading SPONSORS
        .row
          %ul.list-inline.col-md-12.sponsors-list
            - @sponsors.each do |sponsor|
              %li.col-sm-3.col-xs-6
                = link_to sponsor.url, target: '_blank' do
                  = image_tag sponsor.logo.thumb.url, class: 'grow center-block'

            %li.sponsor-logo= link_to 'SPONSOR US', for_sponsors_path, class: 'btn btn-primary sponsor-us'
