!!!
%html
  %head
    = favicon_link_tag 'favicon.png'
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %title KRUG
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }
  %body
    = render partial: 'elements/header'
    = bootstrap_flash
    = render partial: 'elements/newest_meeting' if @newest_meeting
    = yield
    = render partial: 'elements/footer'
